@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 12px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 0.0555555556rem;
  height: 0.0555555556rem;
  margin: -0.0555555556rem;
}

.menu {
  margin: 0 1.6666666667rem;
  padding-top: 0.2777777778rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu--vertical {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .menu--vertical {
    display: block;
  }
}
.menu--vertical .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu--vertical .menu__item {
  margin-right: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 0.8333333333rem;
  margin-bottom: 0.5555555556rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  white-space: nowrap;
}
.menu__link:hover {
  text-decoration: underline;
}

.hero {
  background: url("../img/bg.png") center top no-repeat;
  background-size: cover;
  background-color: #1968B1;
  height: 100vh;
  min-height: initial;
  color: #fff;
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 2.5rem;
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 0.8333333333rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    padding: 0 10%;
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 320px) {
  .hero__main-title {
    font-size: 2rem;
  }
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 2.1666666667rem;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    font-size: 1.5rem;
    padding: 7%;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    font-size: 1.3rem;
    padding: 10%;
  }
}
@media screen and (max-width: 320px) {
  .hero__title-desc {
    font-size: 1.3rem;
    padding: 10% 20%;
  }
}

.hero__icons-section {
  margin-top: 3.6111111111rem;
}
@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5.5555555556rem;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.phone-number {
  font-size: 1.3333333333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-number__icon-elem {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
  fill: white;
}

.phone-number__text {
  white-space: nowrap;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 2.5555555556rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 2.5rem;
  margin-right: 0.3888888889rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.7222222222rem;
}

.btn {
  font-size: 1.0555555556rem;
  font-weight: bold;
  padding: 1rem 1.9444444444rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  border: none;
}
.btn--theme--yellow {
  background: #FFD517;
  color: #000;
}
.btn--theme--transparent {
  background: transparent;
  color: #fff;
  text-transform: none;
  font-style: normal;
}

.section {
  height: 100vh;
  min-height: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: black;
}
@media screen and (max-width: 768px) {
  .section__title {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 320px) {
  .section__title {
    font-size: 2rem;
  }
}

.headline {
  text-align: center;
  margin-bottom: 0.9444444444rem;
}

.headline__title {
  margin-bottom: 0.7777777778rem;
}

.headline__subtitle {
  padding: 0 27%;
}
@media screen and (max-width: 768px) {
  .headline__subtitle {
    font-size: 1.2rem;
    margin-bottom: 0.7222222222rem;
  }
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    font-size: 1rem;
    padding: 0 13%;
  }
}
@media screen and (max-width: 320px) {
  .headline__subtitle {
    font-size: 1rem;
    padding: 0 18%;
  }
}

.benefits-section {
  height: 100vh;
  min-height: initial;
}
.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 2.7777777778rem;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  padding: 0 3%;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.0555555556rem;
  }
}
.benefits__item:before {
  content: url("../img/separator.png");
  position: absolute;
  top: 1.6666666667rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .benefit__image-wrapper {
    width: 6rem;
    height: 6rem;
  }
}
@media screen and (max-width: 480px) {
  .benefit__image-wrapper {
    width: 6rem;
    height: 6rem;
  }
}
@media screen and (max-width: 320px) {
  .benefit__image-wrapper {
    font-size: 1.5rem;
  }
}

.benefit__icon {
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__text {
  margin-top: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .benefit__text {
    margin-top: 0;
  }
}

.benefit__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .benefit__title {
    font-size: 2rem;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .benefit__title {
    font-size: 1.7rem;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 320px) {
  .benefit__title {
    font-size: 1.5rem;
  }
}

.benefit__image {
  margin-bottom: 1.0555555556rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 1.1111111111rem;
  }
}

@media screen and (max-width: 768px) {
  .benefit__desc {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .benefit__desc {
    font-size: 0.9rem;
  }
}
.product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .product__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product__ingredients {
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .product__ingredients {
    display: none;
  }
}

.product__col {
  width: 50%;
  margin-right: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .product__col {
    width: 80%;
    margin-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 3.3333333333rem;
    text-align: center;
  }
  .product__col:last-child {
    margin-bottom: 0;
  }
}
.product__col:last-child {
  margin-right: 0;
}

.product__image {
  position: relative;
}
@media screen and (max-width: 768px) {
  .product__image {
    height: 16.6666666667rem;
  }
}

.product__image-elem {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.product__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.1111111111rem;
  color: #0d0d0d;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .product__title {
    padding: 0 10%;
  }
}
@media screen and (max-width: 480px) {
  .product__title {
    padding: 0;
    font-size: 1.6666666667rem;
  }
}

.product__text {
  margin-bottom: 1.2777777778rem;
}

.product__values-rub-sign {
  height: 1.6666666667rem;
  width: 1.1111111111rem;
  margin-left: 0.5rem;
  margin-top: 0.7222222222rem;
}

.product__values-row {
  margin-bottom: 0.6666666667rem;
}
.product__values-row:last-child {
  margin-bottom: 0;
}

.product__values-block:first-child {
  padding-right: 1.6666666667rem;
}

.product__values-amount {
  font-weight: bold;
  color: #333333;
}

.product__values-rub {
  color: #0d0d0d;
  font-size: 3.3333333333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-section {
  background: #f8faf9;
}

.products-slider {
  position: relative;
  height: 100%;
}
.products-slider .bx-wrapper {
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.product-slider__arrow {
  background: url("./../img/icons/arrow.svg") center center no-repeat;
  background-size: contain;
  display: block;
  width: 1.3333333333rem;
  height: 2.2222222222rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}
.product-slider__arrow--direction--next {
  right: 0;
}
.product-slider__arrow--direction--prev {
  left: 0;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.products-slider__icon {
  width: 0.7777777778rem;
  height: 1.4444444444rem;
  display: block;
  fill: black;
}

.products__item {
  padding-left: 3.6111111111rem;
}
@media screen and (max-width: 768px) {
  .products__item {
    padding-left: 0;
  }
}

.ingredients {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.ingredients__button {
  width: 5rem;
  height: 5rem;
  border-radius: 0.2777777778rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.ingredients__button-icon {
  margin-bottom: 0.3333333333rem;
}

.ingredients__button-icon-elem {
  fill: currentColor;
  width: 5.0555555556rem;
  height: 5.0555555556rem;
  display: block;
}

.ingredients__button-text {
  line-height: 1;
}

.ingredients:hover .ingredients__dropdown {
  left: 100%;
  opacity: 1;
}

.ingredients__dropdown {
  color: #2f3234;
  position: absolute;
  left: -555.5rem;
  top: 0;
  width: 15rem;
  background: rgba(255, 255, 255, 0.93);
  border-radius: 0.2777777778rem;
  padding: 1.4444444444rem 0.6666666667rem 1.4444444444rem 1.9444444444rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}
.ingredients__dropdown:after {
  content: "";
  position: absolute;
  top: 0;
  height: 50%;
  width: 1.6666666667rem;
  left: -1.6111111111rem;
}

.ingredients__table {
  width: 100%;
}

.ingredients__icon {
  width: 1.9444444444rem;
  height: 1.9444444444rem;
}

.ingredients__table-row {
  border-bottom: 0.2777777778rem solid transparent;
}
.ingredients__table-row:last-child {
  border-bottom: 0;
}

.ingredients__text-container {
  padding-left: 0.5555555556rem;
}

.ingredients__table-cell {
  vertical-align: middle;
}

.ingredients__text {
  font-size: 0.8888888889rem;
  font-weight: bold;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .team {
    padding: 0 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .team {
    margin-left: -3.8888888889rem;
  }
}

.team--version--mobile {
  display: none;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0 !important;
}
@media screen and (max-width: 768px) {
  .team--version--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.team--version--mobile .team__item {
  margin-bottom: 0.5555555556rem;
}

@media screen and (max-width: 768px) {
  .team--version--desktop {
    display: none;
  }
}
.team--version--desktop .team__content {
  position: absolute;
  top: 100%;
}

.team__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin-right: 1.1111111111rem;
  max-width: 14.4444444444rem;
  position: relative;
}
.team__item.active .team__title:after {
  content: "";
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
@media screen and (max-width: 768px) {
  .team__item {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    margin-bottom: 1.9444444444rem;
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .team__item {
    width: auto;
  }
}
.team__item:last-child {
  margin-right: 0;
}

.team__member {
  height: 16rem;
  margin-bottom: 1.1111111111rem;
}

.team__member-pic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__title {
  color: #323232;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1666666667rem;
  font-weight: bold;
  margin-bottom: 1.1111111111rem;
}
.team__title:after {
  content: "";
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 0.2222222222rem;
  border-left-width: 0.2222222222rem;
  border-top: 0.3333333333rem solid black;
  border-bottom: 0;
  display: block;
  margin-left: 0.2777777778rem;
}

.team__content-block {
  padding-bottom: 0.2777777778rem;
}

.team__content {
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  height: 0;
}

.team__content-text {
  font-weight: 300;
}

.team__occ {
  color: #281e1e;
}

.reviews-section {
  min-height: initial;
}
.reviews__list {
  position: relative;
  min-height: 15.5555555556rem;
}

.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;
}
.reviews__item.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews__display {
  background: #f8faf9;
  padding: 2.7777777778rem 2.5rem 1.8888888889rem;
  margin-bottom: 1.1111111111rem;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.3333333333rem;
    margin-bottom: 20px;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1.1111111111rem;
}

.reviews__title {
  font-size: 1.6666666667rem;
  font-weight: bold;
  margin-bottom: 1.2222222222rem;
  color: black;
}
@media screen and (max-width: 480px) {
  .reviews__title {
    margin-bottom: 0;
    font-size: 1rem;
  }
}

.reviews__text {
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    margin-bottom: 1rem;
  }
}
.reviews__author {
  font-size: 1rem;
  font-weihgt: bold;
  color: black;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .reviews__switcher {
    margin-bottom: 4rem;
  }
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  position: relative;
}
.interactive-avatar--active .interactive-avatar__link {
  border-color: #FFD517;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order-section {
  background: url("../img/cta.png") left top no-repeat;
  background-size: cover;
  background-color: #2b2b2b;
  height: 100vh;
  min-height: initial;
  color: #fff;
}
.section__title-order {
  color: #fff;
}
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 19%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border: solid 0.1666666667rem transparent;
}
.form__input--textarea {
  height: 10rem;
  resize: none;
  margin-right: 5px;
}
.form__input:focus {
  outline: none;
  border-color: #FFD517;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.2222222222rem 0.1111111111rem;
  }
}
.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0.2777777778rem;
}
@media screen and (max-width: 768px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .form__controls {
    margin-bottom: 0.2777777778rem;
  }
}
@media screen and (max-width: 320px) {
  .form__controls {
    margin-bottom: 0.2777777778rem;
  }
}

.form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 0.8888888889rem;
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 0.5555555556rem;
  }
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url("../img/icons/tick.svg") center center no-repeat;
}

.radio__elem:focus ~ .radio__visible {
  -webkit-box-shadow: 0 0 0.0555555556rem 0.1111111111rem #FFD517;
          box-shadow: 0 0 0.0555555556rem 0.1111111111rem #FFD517;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.5555555556rem;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #FFD517;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  margin-right: 0.6666666667rem;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hamburger {
  width: 1.3333333333rem;
  height: 0.8888888889rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 0.1666666667rem;
  border-radius: 10px;
}
.hamburger__plank:last-child {
  margin-bottom: 0;
}

body.hidden {
  overflow: hidden;
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #2e3336;
  z-index: 1000;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}
.fullscreen-menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fullscreen-menu__close {
  display: block;
  position: absolute;
  top: 1.3888888889rem;
  right: 1.3888888889rem;
}

.fullscreen-menu__close-icon {
  width: 1rem;
  height: 1rem;
  fill: #c2c2c3;
}

div#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.map-section {
  background: url("../img/map.png") left top no-repeat;
  background-size: cover;
  background-color: #FFD517;
  height: 100vh;
  min-height: 36.1111111111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: #fff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__col--align--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts {
  font-size: 1.1666666667rem;
  font-style: normal;
  color: black;
}

.phone-number__text--footer {
  font-size: 1.1666666667rem;
  font-style: normal;
  color: black;
}

.phone-number__icon-elem--footer {
  fill: black;
  margin-right: 0.3333333333rem;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__item {
  margin-right: 0.8333333333rem;
}

.footer__icon {
  background-color: #fff;
  fill: #B3B3B3;
}
.footer__icon:hover {
  background-color: #000;
  fill: #fff;
}