@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 0.0555555556rem;
  height: 0.0555555556rem;
  margin: -0.0555555556rem;
}

.hero {
  background: url("../img/bg.png") left top no-repeat;
  background-size: cover;
  background-color: #1968B1;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #fff;
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 2.5rem;
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 0.8333333333rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    padding: 0 10%;
  }
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    font-size: 1.5555555556rem;
  }
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 2.1666666667rem;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 10%;
    margin-bottom: 0;
  }
}

.hero__icons-section {
  margin-top: 3.6111111111rem;
}
@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5.5555555556rem;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.menu {
  margin: 0 1.6666666667rem;
  padding-top: 0.2777777778rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 0.8333333333rem;
  margin-bottom: 0.5555555556rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  white-space: nowrap;
}

.phone-number {
  font-size: 1.3333333333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-number__icon-elem {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
}

.phone-number__text {
  white-space: nowrap;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 2.5555555556rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 2.5rem;
  margin-right: 0.3888888889rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.7222222222rem;
}

.btn {
  font-size: 1.0555555556rem;
  font-weight: bold;
  padding: 1rem 1.9444444444rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  border: none;
}
.btn--theme--yellow {
  background: #FFD517;
  color: #000;
}
.btn--theme--transparent {
  background: transparent;
  color: #fff;
  text-transform: none;
  font-style: normal;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.headline {
  text-align: center;
  margin-bottom: 0.9444444444rem;
}

.headline__title {
  margin-bottom: 0.7777777778rem;
}

.headline__subtitle {
  padding: 0 27%;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 10%;
  }
}

@media screen and (max-width: 480px) {
  .benefits-section {
    margin-top: 2.7777777778rem;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 2.7777777778rem;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  padding: 0 3%;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.0555555556rem;
  }
}
.benefits__item:before {
  content: url("../img/separator.png");
  position: absolute;
  top: 1.6666666667rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__text {
  margin-top: 1.1111111111rem;
}

.benefit__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #292929;
}

.benefit__image {
  margin-bottom: 1.0555555556rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 1.1111111111rem;
  }
}

@media screen and (max-width: 480px) {
  .reviews-section {
    margin-top: 8.3333333333rem;
  }
}

.reviews {
  margin-top: -1.6666666667rem;
}

.reviews__display {
  background: #f8faf9;
  padding: 2.7777777778rem 2.5rem 1.8888888889rem;
  margin-bottom: 1.1111111111rem;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.3333333333rem;
    margin-bottom: 20px;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1.1111111111rem;
}

.reviews__title {
  font-size: 1.6666666667rem;
  font-weight: bold;
  margin-bottom: 1.2222222222rem;
  color: black;
}

.reviews__text {
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    margin-bottom: 1rem;
  }
}

.reviews__author {
  font-size: 1rem;
  font-weihgt: bold;
  color: black;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .reviews__switcher {
    margin-bottom: 4rem;
  }
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #FFD517;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order-section {
  background: url("../img/cta.png") left top no-repeat;
  background-size: cover;
  background-color: #2b2b2b;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #fff;
}

.section__title-order {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .section__title-order {
    margin-top: 12.7777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .section__title-order {
    margin-top: 16.1111111111rem;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 19%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border: solid 0.1666666667rem transparent;
}
.form__input--textarea {
  height: 10rem;
  resize: none;
}
.form__input:focus {
  outline: none;
  border-color: #FFD517;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .form__controls {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 0.8888888889rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url("../img/icons/tick.svg") center center no-repeat;
}

.radio__elem:focus ~ .radio__visible {
  -webkit-box-shadow: 0 0 0.0555555556rem 0.1111111111rem #FFD517;
          box-shadow: 0 0 0.0555555556rem 0.1111111111rem #FFD517;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.5555555556rem;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #FFD517;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  margin-right: 0.6666666667rem;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hamburger {
  width: 1.3333333333rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 0.2222222222rem;
  border-radius: 10px;
  margin-bottom: 0.1111111111rem;
}
.hamburger__plank:last-child {
  margin-bottom: 0;
}