.benefits-section {
    height: 100vh;
    min-height: initial;
    
    @include phones {
        // margin-top: rem(100px);
    }
}

.benefits {
    display: flex;
    position: relative;
    margin-top: rem(50px);

    @include phones {
        flex-direction: column;
    }
}

.benefits__item {
    flex: 1;
    position: relative;
    padding: 0 3%;

    @include phones {
        padding: 0;
        margin-bottom: rem(19px);
    }

    &:before {
        content: url("../img/separator.png");
        position: absolute;
        top: rem(30px);
        right: 0;
        transform: translateX(50%);

        @include phones {
            display: none;
        }
    }
    
    
    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &:before {
            display: none;
        }
    }
}

.benefit {
    text-align: center;

    @include phones {
        display: flex;
        text-align: left;
    }
}

.benefit__image-wrapper {
    display: inline-block;
    width: rem(126px);
    height: rem(126px);
    position: relative;
    background: #f2f5f4;
    border-radius: 50%;
    overflow: hidden;
    
    @include tablets {
        width: 6rem;
        height: 6rem;
    }
    
    @include phones {
        width: 6rem;
        height: 6rem;
    }
    
    @include iphone5 {
        font-size: 1.5rem;
    }
}

.benefit__icon {
    width: rem(68px);
    height: rem(68px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__text {
    margin-top:rem(20px);

    @include phones {
        margin-top: 0;
    }
}

.benefit__title {
    font-size: rem(27px);
    font-weight: 700;
    color: #292929;

    @include tablets {
        font-size: 2rem;
        margin-bottom: 0;
    }
    
    @include phones {
        font-size: 1.7rem;
        margin-bottom: 0;
    }
    
    @include iphone5 {
        font-size: 1.5rem;
    }
}

.benefit__image {
    margin-bottom: rem(19px);

    @include phones {
        margin-bottom: 0;
        margin-right: rem(20px);
    }
}

.benefit__desc {

    @include tablets {
        font-size: 1rem;
        // margin-bottom: rem(13px);
    }

    @include phones {
        font-size: 0.9rem;
        // padding: 0 10%;
    }
    
    @include iphone5 {
    
    }
}