.hamburger {
    width: rem(24px);
    height: rem(16px);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;

    @include tablets {
        display: inline-flex;
    }
}

.hamburger__plank {
    display: block;
    background: #fff;
    height: rem(3px);
    border-radius: 10px;
    // margin-bottom: rem(2px);

    &:last-child {
        margin-bottom: 0;
    }
}