.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(100px);
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}

.menu {
    @include tablets {
        display: none;
    }
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__item {
    margin-right: rem(15px);

    &:last-child {
        margin-right: 0;
    }
}
.phone-number {
    font-size: rem(24px);
    display: flex;
    align-items: center;
}

.phone-number__icon-elem {
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(6px);
}