.hero {
    background: url("../img/bg.png") left top no-repeat;
    background-size:cover;
    background-color: $blue;
    height: 100vh;
    min-height: 650px;
    color: #fff;
}
.hero__title-section {
    width: 46%;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 45px;
}

.hero__main-title {
    font-size: 48px;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.hero__title-desc {
    font-size: 21px;
    margin-bottom: 28px;
    padding-right: 10%;
}