.hero {
    background: url("../img/bg.png") center top no-repeat;
    background-size:cover;
    background-color: $blue;
    height: 100vh;
    min-height: initial;
    color: #fff;
}

.hero__title-section {
    width: 46%;

    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(24px) 0 rem(45px);
}

.hero__main-title {
    font-size: rem(48px);
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: rem(15px);
    text-transform: uppercase;

    @include tablets {
        padding: 0 10%;
    }
    
    @include tablets {
        font-size: rem(28px);
    }
}

.hero__title-desc {
    font-size: rem(21px);
    margin-bottom: rem(39px);
    padding-right: 10%;

    @include tablets {
        padding: 10%;
        margin-bottom: 0;
    }
}

.hero__icons-section {
    margin-top: rem(65px);
    
    @include tablets {
        display: none;
    }
}