.map-section {
    background-color: $yellow;
    height: 100vh;
    display: flex;
    position: relative;
  }
  
  #map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
  }