.reviews-section {
    min-height: initial;
    
    @include tablets {
        // margin-top: rem(150px);
    }

    @include phones {
        // margin-top: rem(250px);
    }
}

.reviews {
    position: relative;
    min-height: rem(280px);
}

.reviews__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    opacity: 0;

    &.active {
        position: static;
        opacity: 1;
        pointer-events: unset;
    }
}

.reviews__display {
    background: #f8faf9;
    padding: rem(50px) rem(45px) rem(34px);
    margin-bottom: rem(20px);
}

.reviews__display-inner {
    display: flex;

    @include tablets {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.reviews__avatar {
    width: rem(254px);
    height: rem(260px);

    @include tablets {
        width: rem(130px);
        height: rem(132px);
        margin-bottom: 20px;
    }
}

.reviews__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%
}

.reviews__content {
    flex: 1;
    margin-left: rem(20px);
}

.reviews__title {
    font-size: rem(30px);
    font-weight: bold;
    margin-bottom: rem(22px);
    color: black;
    
    @include phones {
        margin-bottom: 0;
        font-size: 1rem;
    }
}

.reviews__text {
    margin-bottom: rem(36px);

    @include tablets {
        margin-bottom: 1rem;
    }
    
    @include phones {
    
    }

    @include iphone5 {
    
    }
}

.reviews__author {
    font-size: rem(18px);
    font-weihgt: bold;
    color: black;
}

.reviews__switcher {
    display: flex;
    justify-content: center;

    @include tablets {
        margin-bottom: 4rem;
    }
}

.interactive-avatar {
    width: rem(80px);
    height: rem(80px);
    border: rem(6px) solid transparent;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    
    &--active {
        border-color: $yellow;
    }
}

.interactive-avatar__link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;

    // &:hover .interactive-avatar{
    //     border-color: $yellow;
    // }
}

.interactive-avatar__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}