.section {
    height: 100vh;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
    color:  black;
}

.headline {
    text-align: center;
    margin-bottom: px;
}

.headline__title {
    margin-bottom: 14px;
}

.headline__subtitle {
    padding: 0 27%;
}

.benefits {
    display: flex;
    position: relative;
    margin-top: 50px;
}

.benefits__item {
    flex: 1;
    position: relative;
    padding: 0 3%;

    &:before {
        content: url("../img/separator.png");
        position: absolute;
        top: 30px;
        right: 0;
        transform: translateX(50%);
    }
    
    
    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &:before {
            display: none;
        }
    }
}

.benefit {
    text-align: center;
}

.benefit__image-wrapper {
    display: inline-block;
    width: 126px;
    height: 126px;
    position: relative;
    background: #f2f5f4;
    border-radius: 50%;
    overflow: hidden;
}

.benefit__icon {
    width: 68px;
    height: 68px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__text {
    margin-top:20px;
}

.benefit__title {
    font-size: 27px;
    font-weight: 700;
    color: #292929;
}

.benefit__desc {
    width: 285px;
}