.section {
    height: 100vh;
    min-height: rem(650px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__title {
    font-size: rem(48px);
    font-weight: bold;
    margin-bottom: rem(60px);
    text-align: center;
    text-transform: uppercase;
    color:  black;
}

.headline {
    text-align: center;
    margin-bottom: rem(17px);
}

.headline__title {
    margin-bottom: rem(14px);
}

.headline__subtitle {
    padding: 0 27%;
}
